@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css");

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nunito", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  width: 100%;

  background: url(images/818fd8c76d8397b390dbf7ed513cd8e2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
body::before {
  content: "";
  position: absolute;
  background-color: rgba(202, 198, 216, 0.228);
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
